* {
box-sizing: border-box;
}

:root {
    --primary: #37216e;
    --secondary: #bc5fe6;
    --tertiary: #e3cced;
    --gray: #c6c7d4
    font-size: 62.5%;
  }

  header {
    padding: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 65PX;
  }
  .high-score-link {
      color: var(--secondary);
  }

  body {
    background: whitesmoke;
    border: solid black 2px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

  .page-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    width: 50%;
  }

  .question-wrapper {
      flex: 1;
      margin: 0 20px 20px;      
  }