* {
box-sizing: border-box;
}

:root {
    --primary: #37216e;
    --secondary: #bc5fe6;
    --tertiary: #e3cced;
    --grey: #acaaac
    font-size: 62.5%;
  }

  header {
    padding: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 65PX;
  }
  /* .high-score-cls {
      color: var(--secondary);
  }  */

  body {
    background: whitesmoke;
    border: solid black 2px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    min-height: 90vh;
    max-height: 300px;
    flex-direction: column; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
    }

    ul {
      padding:0 0 0 2px;
    }
 

    .page-content {    
    display: inline-block; 
    margin: 50px auto;
    width: 30%;
    text-align: center;     
    } 

    .question-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;      
      list-style-type: none;    
  }

  .wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   

  }
/*---------------------------------*/
  .answer-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-top: 3px solid #acaaac; 
  }

  
  
   .start-btn {
    text-align: center;
    outline: none;
    border: none;
    margin: 5px;    
    color: white;
    padding: 10px 15px;
    background: var(--primary);
    font-size: 0.9rem;
    border-radius: 10px;
    position:relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
    width: 200px;
    cursor: pointer;
    } 

    .high-score-wrapper {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      justify-content: center;
      flex-direction: column;
      width: 65%;      
    }

    .all-done-btn,
    .go-back-btn,
    .clear-score-btn {
      
    text-align: center;
    outline: none;
    border: none;
    margin: 5px;    
    color: white;
    padding: 5px 5px;
    background: var(--primary);
    font-size: 0.9rem;
    border-radius: 5px;    
    top: -3px;
    box-shadow: 0 3px var(--grey);
    width: auto;
    cursor: pointer;
    }


  .btn {
    outline: none;
    border: none;
    margin: 5px;    
    color: white;
    display: flex;    
    padding: 10px 15px;
    background: var(--primary);
    font-size: 0.9rem;
    border-radius: 10px;
    position:relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
    width: 200px;
    cursor: pointer;        
  }

  .hs-btn {
    color:var(--secondary);
    background-color: whitesmoke;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    outline: none;
  }

 
  .btn:hover,
  .start-btn:hover,
  .all-done-btn:hover,
  .go-back-btn:hover,
  .clear-score-btn.start-btn:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
  }
  .btn:active,
  .start-btn:active,
  .all-done-btn:active,
  .go-back-btn:active,
  .clear-score-btn:active{ 
    background-color: var(--secondary);
    box-shadow: 0 0px var(--grey);
    top: 0;
    
  }

   .score-list{
         list-style-type: none;

  }

.score-li { 
 margin: 2px 0 0 2px;
  background-color: #e3cced; 
  border: 1px solid var(--grey);  
}


.hs-btn-wrapper {
  display: flex;
  justify-content: flex-start;
}

.answer-response {
  font-style: italic;
  color:#acaaac ;
  font-size: 25px;
}
